#homeHEader{
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/src/components/layout/imgs/Hero.png);
}

.container{
    margin-left: var(--margin);
   margin-right: var(--margin);
}

:root{
    --margin:15rem;
    --font-h1: 700 2em 'Work Sans', sans-serif;
    --color-primary:#2947A9;
    --color-text-secondary:#292E3D;
    --color-text-primary:#ffffff;
    --space-top: 4rem;
}
.container h1{
    width: 34rem;
    color: --color-text-secondary;
    font: 600 4rem 'Work Sans', sans-serif;
    padding-top: var(--margin);
}


section{
    margin-top: var(--space-top);
 
}

.section1 h1{
    font: var(--font-h1);
    color: var(--color-text-secondary);
    text-align: center;
}

.cards{
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;
}
.section1 .card{
        display: flex;
        padding-left: 1.25rem;
        padding-right: 1.125rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
         width: 18.25rem;
         gap: .5rem;
        height: 12.3rem;
        border: 1.4px solid #E0E3EB;
        border-radius: .3rem;
        background: #ffff;
        
}

.section1 .card h2{
    width: 16rem;
    color:var(--color-text-secondary);
    font: 700 1.25rem 'Work Sans', sans-serif;
}

.section1 .card p{
    /* Neutral/400 */
    

color: #858EAD;
    font: 400 1rem 'Work Sans', sans-serif;
}

.section2{
    display: flex;
    justify-content: space-between;
}

.section2 .img{
    margin-left: 13rem;
}
.section2 .cardAbout{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2.5rem;

    color: var(--color-text-primary);
    position: absolute;
    left: 57rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 33rem;
    height: 33rem;
    background:var(--color-primary) ;
    box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
border-radius: 2px;
}

.cardAbout h1{
    margin-top: 2rem;
    font: var(--font-h1);
}

.cardAbout p{
    margin-top: 1.3rem;
    width: 24.3rem;
    font: 400 1.25rem 'Work Sans', sans-serif;
}

.cardAbout button{
    margin-top: 2rem;
    width: 14rem;
    height: 3.3rem;
    background: #FFFFFF;
/* Primary */

border: 2px solid #2947A9;
border-radius: 6px;
}

.services{
    text-align: center;
}

.cards1{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;

}

.services{
    background: #F6F8F7;
}

.services .card{
      display: flex;
        padding-left: 1.25rem;
        padding-right: 1.125rem;
        flex-direction: column;
        justify-content: center;
         gap: .5rem;
        height: 12.3rem;
        border: 1.4px solid #E0E3EB;
        border-radius: .3rem;
        width: 18rem;
        
        font: 700 .8rem 'Work Sans', sans-serif;
}
.cards2{
    
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.back{

    color: #FFFFFF;
    background: #2947A9;
    
}
.back h2{
        text-align: center;
}

.services h1{
    padding-top: 2rem;
    color: #292E3D;
     font: 700 2.4rem 'Work Sans', sans-serif;
}
.font{
   display: flex;
   align-items: center;
    background: #FFFFFF;
    color: #2947A9;
}
.linha{
    display: flex;
    justify-content: center;

    width: 4rem;
   
}

.icons{
    font-size: 2rem;
}