*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsla(0, 0%, 100%, 1);

}
nav{
  height: 5rem;
  display: flex;
  align-items: center;
justify-content: space-between;
margin-left: 15rem;
margin-right: 15rem;
}

nav a{
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo a{
  font: 700 2rem 'Work Sans', sans-serif;
  display: flex;
  color: #2947A9;
}

.logo span{

  font: 700 italic 2rem 'Work Sans', sans-serif;
}
.menu{
  display: flex;
  gap: 1rem;
  font: 400 1.2rem 'Work Sans', sans-serif;
 
}

.homeHEader{
  color: red;
  background: red;
}